extends layout

block content
	a.login-form
		h4= message
		form(action='/auth', method='POST')
			input(type='text', name='username', placeholder='Username', required)
			input(type='password', name='password', placeholder='Password', required)
			input(type='submit')
		form(action="/github", method="GET")
			button(type="submit") Login with GitHub